.post{
    width:70%;
    border-radius: 20px;
    
  -webkit-box-shadow: 5px 3px 5px 6px rgba(0, 0, 0, 0.5);
  box-shadow: 5px 3px 5px 6px rgba(0, 0, 0, 0.5);
  margin: 25px 1%;
}

.postWrap{
    padding: 25px;
}

.postTOP{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.postTopLeft{
    display: flex;
    align-items: center;
}

.postProfileImg{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername{
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;

}

.postDate{
    font-size: 15px;
}

.postCenter{
    margin: 38px 0;
}

.postImg{
    margin-top: 24px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeYou{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;

}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed red;
    font-size: 15px;
}